<!DOCTYPE HTML>

<html><head><title>CROPEYE</title><meta charset="utf-8"><meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"><meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
</head><body>

		<!-- Header -->
			<header id="header" class="alt"><div class="logo"><a href="index.html">CROPEYE <span>For Precision Farming</span></a></div>
				<a href="#menu">Menu</a>
			</header><!-- Nav --><nav id="menu"><ul class="links"><li><a href="index.html">Home</a></li>
				<li><a href="generic.html">Prediction</a></li>
				
			</ul></nav><!-- Banner --><section id="banner"><div class="inner">
					<header><h1>CROPEYE</h1>
						<p> Unleashing the Power of AI and ML for Precision Disease Prediction in Plants</p>
					</header><a href="generic.html" class="button big scrolly">Our Model</a>
				</div>
			</section><!-- Main --><div id="main">

				<!-- Section -->
					<section class="wrapper style1"><div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a href="generic.html" class="link"><img src="images/pic01.jpg" alt="" width="320" height="320"></a>
										</div>
									</div>
									<div class="col col2">
										<h3>What is precision farming?</h3>
										<p>Precision farming, also known as precision agriculture or precision ag, is an approach to farm management that utilizes information technology.</p>
										<p>Precision farming technologies involve the use of accurate remote sensing data, such as images or videos from drones or satellites. Such images allow you to effectively monitor the condition of soils and crops, to make decisions based on accurate data. Plus, the rational use of resources helps to preserve the environment. </p>
									
									</div>
								</div>
						</div>
					</section><!-- Section --><section class="wrapper style2"><div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>Our Goal in Precision Farming for Disease Crop Prediction</h3>
									<p>our primary goal in precision farming is to revolutionize crop management by harnessing the power of technology. Specifically, we aim to enhance disease prediction in crops, paving the way for early intervention and sustainable farming practices.</p>
									<p>Our foremost objective is to provide farmers with the tools and technologies needed to detect diseases in crops at their earliest stages. Early detection enables proactive measures, allowing farmers to mitigate the impact of diseases before they escalate, thereby minimizing crop loss and ensuring a more robust yield</p>
									<a href="#" class="button">Learn More</a>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="generic.html" class="link"><img src="{{ url_for('static', filename='assets/images/pic02.jpg') }}" alt=""  width="320" height="320"></a>
                                            
									</div>
								</div>
							</div>
						</div>
					</section></div>

		<!-- Footer -->
			<footer id="footer"><div class="copyright">
					<ul class="icons"><li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul></div>
			</footer><div class="copyright">
			Site made By<a>Team 13</a>
		</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script><script src="assets/js/jquery.scrolly.min.js"></script><script src="assets/js/jquery.scrollex.min.js"></script><script src="assets/js/skel.min.js"></script><script src="assets/js/util.js"></script><script src="assets/js/main.js"></script></body></html>
